services:
  apisix:
    image: apache/apisix:latest
    restart: always
    environment:
      - APISIX_CONF_CENTER=etcd
    volumes:
      - ./apisix/conf/config.yaml:/usr/local/apisix/conf/config.yaml
    ports:
      - "9000:9000" # APISIX Dashboard
      - "9088:9080" # data plane
      - "9180:9180" # admin plane
    depends_on:
      - etcd
    extra_hosts:
      - "host.docker.internal:host-gateway"



  etcd:
    image: quay.io/coreos/etcd:v3.5.1
    environment:
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    ports:
      - "2379:2379"
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health", "--endpoints=http://localhost:2379"]
      interval: 5s
      timeout: 3s
      retries: 5


  opa:
    image: openpolicyagent/opa:0.70.0
    command: ["run", "--server", "--addr", ":8181", "/policies"]
    volumes:
      - ./policies:/policies:ro
    ports:
      - "8181:8181"

  pap:
    build: ./pap
    ports:
      - "3000:3000"
    depends_on:
      - opa
    environment:
      OPA_URL: http://opa:8181
      MOCK_DATA_URL: http://mock-data
    volumes:
      - ./keys:/app/keys

  mock-data:
    container_name: mock-data
    image: nginx:1.27
    volumes:
      - ./mock-data:/usr/share/nginx/html:ro
    ports:
      - "8080:80"

  frontend:
    image: nginx:1.27
    volumes:
      - ./:/usr/share/nginx/html:ro

  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    command: ["start", "--http-enabled=true", "--hostname-strict=false"]
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_LOG_LEVEL_org_keycloak_authentication: 'DEBUG'
      KC_LOG_LEVEL_org_keycloak_protocol_oidc: 'DEBUG'
      KC_LOG_LEVEL_org_keycloak_services: 'DEBUG'
      KEYCLOAK_FRONTEND_URL: http://keycloak:8080/realms/ODRL-demo
    ports:
      - "8081:8080"
    depends_on:
      - postgres

volumes:
  keycloak_db_data:
